# Python
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store

# Environments
.env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Output / Debug / Results
*.log

# raw/processed/
raw/
processed/
results/

# PyInstaller / Build Artifacts
build/
dist/
*.spec
